.App{
  height: 100%;
  background: #121212;
}
/* For all pages */
/* .container{
  padding-right: 5px;
} */
.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: chartreuse;
}
.loading h2{
  font-size: '20px';
  color: #fff; 
  margin: 'auto'; 
}
.content{
  color: #fff;
  margin-top: 4.6rem;
  margin-left: 4.4rem;
  height: calc(100vh - 4.6rem);
  overflow-y: auto;
}
.message{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
}
.error{
  color: #ff0000;
  margin-top: 5px;
}